In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import glob

In [3]:
air = glob.glob('./2020_Airkorea/2020*')
air.sort()
air

['./2020_Airkorea\\2020년 01월.xlsx',
 './2020_Airkorea\\2020년 02월.xlsx',
 './2020_Airkorea\\2020년 03월.xlsx',
 './2020_Airkorea\\2020년 04월.xlsx',
 './2020_Airkorea\\2020년 05월.xlsx',
 './2020_Airkorea\\2020년 06월.xlsx',
 './2020_Airkorea\\2020년 07월.xlsx',
 './2020_Airkorea\\2020년 08월.xlsx',
 './2020_Airkorea\\2020년 09월.xlsx',
 './2020_Airkorea\\2020년 10월.xlsx',
 './2020_Airkorea\\2020년 11월.xlsx',
 './2020_Airkorea\\2020년 12월.xlsx']

In [5]:
for i in range(1, 13):
    globals()['seoul_air_{}'.format(i)] = pd.read_excel(air[i-1])

In [7]:
seoul_air_1

,지역,망,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,PM25,주소
0,서울 중구,도시대기,111121,중구,2020010101,0.003,0.5,0.002,0.036,24.0,19.0,서울 중구 덕수궁길 15
1,서울 중구,도시대기,111121,중구,2020010102,0.003,0.6,0.001,0.039,25.0,21.0,서울 중구 덕수궁길 15
2,서울 중구,도시대기,111121,중구,2020010103,0.003,0.9,0.001,0.037,29.0,23.0,서울 중구 덕수궁길 15
3,서울 중구,도시대기,111121,중구,2020010104,0.002,0.6,0.001,0.036,26.0,22.0,서울 중구 덕수궁길 15
4,서울 중구,도시대기,111121,중구,2020010105,0.002,0.6,0.001,0.035,25.0,19.0,서울 중구 덕수궁길 15
...,...,...,...,...,...,...,...,...,...,...,...,...
356755,인천 옹진군,도시대기,831493,영흥,2020013120,0.003,0.4,0.052,0.004,44.0,36.0,인천광역시 옹진군 영흥면 영흥로251번길 90
356756,인천 옹진군,도시대기,831493,영흥,2020013121,0.003,0.4,0.052,0.004,40.0,28.0,인천광역시 옹진군 영흥면 영흥로251번길 90
356757,인천 옹진군,도시대기,831493,영흥,2020013122,0.003,0.4,0.051,0.004,34.0,29.0,인천광역시 옹진군 영흥면 영흥로251번길 90
356758,인천 옹진군,도시대기,831493,영흥,2020013123,0.003,0.4,0.049,0.005,36.0,33.0,인천광역시 옹진군 영흥면 영흥로251번길 90
356759,인천 옹진군,도시대기,831493,영흥,2020013124,0.003,0.4,0.049,0.004,35.0,32.0,인천광역시 옹진군 영흥면 영흥로251번길 90

In [9]:
for i in range(1, 13):
    globals()['seoul_air_{}'.format(i)] = globals()['seoul_air_{}'.format(i)][globals()['seoul_air_{}'.format(i)]['주소'] == '서울 도봉구 시루봉로2길 34'][['측정일시', 'SO2','CO','O3','NO2','PM10']]
seoul_air_1.columns

Index(['측정일시', 'SO2', 'CO', 'O3', 'NO2', 'PM10'], dtype='object')

In [11]:
seoul_air_1

             측정일시    SO2   CO     O3    NO2  PM10
10416  2020010101  0.002  0.5  0.011  0.024  19.0
10417  2020010102  0.002  0.6  0.005  0.030  19.0
10418  2020010103  0.002  0.6  0.002  0.033  27.0
10419  2020010104  0.002  0.6  0.003  0.031  20.0
10420  2020010105  0.002  0.7  0.003  0.031  21.0
...           ...    ...  ...    ...    ...   ...
11155  2020013120  0.003  0.5  0.027  0.024  40.0
11156  2020013121  0.003  0.5  0.022  0.027  39.0
11157  2020013122  0.003  0.6  0.019  0.028  39.0
11158  2020013123  0.003  0.5  0.020  0.026  39.0
11159  2020013124  0.003  0.5  0.017  0.029  42.0

[744 rows x 6 columns]

In [13]:
Total_Seoul_airkorea = pd.DataFrame()

for i in range(1, 13):
    Total_Seoul_airkorea = pd.concat([Total_Seoul_airkorea, globals()['seoul_air_{}'.format(i)]])

Total_Seoul_airkorea = Total_Seoul_airkorea.reset_index(drop=True)
Total_Seoul_airkorea

            측정일시    SO2   CO     O3    NO2  PM10
0     2020010101  0.002  0.5  0.011  0.024  19.0
1     2020010102  0.002  0.6  0.005  0.030  19.0
2     2020010103  0.002  0.6  0.002  0.033  27.0
3     2020010104  0.002  0.6  0.003  0.031  20.0
4     2020010105  0.002  0.7  0.003  0.031  21.0
...          ...    ...  ...    ...    ...   ...
8779  2020123120  0.002  0.4  0.014  0.026  29.0
8780  2020123121  0.002  0.4  0.017  0.021  23.0
8781  2020123122  0.002  0.4  0.025  0.013  28.0
8782  2020123123  0.002  0.3  0.030  0.008  24.0
8783  2020123124  0.002  0.3  0.027  0.011  15.0

[8784 rows x 6 columns]

In [15]:
for i in range(len(Total_Seoul_airkorea.columns)):
    if(Total_Seoul_airkorea[Total_Seoul_airkorea.columns[i]].isnull().values.any() == True):
        print('NaN이 하나라도 포함되어 있는 column: ', Total_Seoul_airkorea.columns[i])

NaN이 하나라도 포함되어 있는 column:  SO2
NaN이 하나라도 포함되어 있는 column:  CO
NaN이 하나라도 포함되어 있는 column:  O3
NaN이 하나라도 포함되어 있는 column:  NO2
NaN이 하나라도 포함되어 있는 column:  PM10

In [17]:
for i in range(len(Total_Seoul_airkorea.columns)):
    for j in range(len(Total_Seoul_airkorea)):
        if Total_Seoul_airkorea[Total_Seoul_airkorea.columns[i]][j] == -999:
            print('-999값이 있는 column : ', Total_Seoul_airkorea.columns[i])
            break

In [21]:
Total_Seoul_airkorea_mean = round(Total_Seoul_airkorea.mean(), 3)
Total_Seoul_airkorea_mean

측정일시    2.020067e+09
SO2     3.000000e-03
CO      4.030000e-01
O3      2.900000e-02
NO2     1.800000e-02
PM10    3.205700e+01
dtype: float64

In [23]:
for value in Total_Seoul_airkorea_mean:
    print(value)

2020066724.795
0.003
0.403
0.029
0.018
32.057

In [25]:
remove_airkorea_columns = []
for i in range(len(Total_Seoul_airkorea_mean)):
    if(np.isnan(Total_Seoul_airkorea_mean.iloc[i])):
        print('모든 값이 NaN인 column : ', Total_Seoul_airkorea.columns[i])
        remove_airkorea_columns.append(Total_Seoul_airkorea.columns[i])

In [27]:
for i in range(len(remove_airkorea_columns)):
    print(remove_airkorea_columns[i], '제거')
    del Total_Seoul_airkorea[remove_airkorea_columns[i]]

In [29]:
Total_Seoul_airkorea = Total_Seoul_airkorea.fillna(Total_Seoul_airkorea_mean)
Total_Seoul_airkorea

            측정일시    SO2   CO     O3    NO2  PM10
0     2020010101  0.002  0.5  0.011  0.024  19.0
1     2020010102  0.002  0.6  0.005  0.030  19.0
2     2020010103  0.002  0.6  0.002  0.033  27.0
3     2020010104  0.002  0.6  0.003  0.031  20.0
4     2020010105  0.002  0.7  0.003  0.031  21.0
...          ...    ...  ...    ...    ...   ...
8779  2020123120  0.002  0.4  0.014  0.026  29.0
8780  2020123121  0.002  0.4  0.017  0.021  23.0
8781  2020123122  0.002  0.4  0.025  0.013  28.0
8782  2020123123  0.002  0.3  0.030  0.008  24.0
8783  2020123124  0.002  0.3  0.027  0.011  15.0

[8784 rows x 6 columns]

In [31]:
kma = pd.read_csv('./2020_kma/2020_Seoul.csv',encoding='cp949')
kma

,지점,지점명,일시,기온(°C),기온 QC플래그,강수량(mm),강수량 QC플래그,풍속(m/s),풍속 QC플래그,풍향(16방위),...,최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),지면온도 QC플래그,5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,서울,2020-01-01 00:00,-6.5,NaN,0.0,NaN,0.0,NaN,0,...,NaN,2000,NaN,5.0,-2.8,NaN,-0.8,0.7,2.1,3.2
1,108,서울,2020-01-01 01:00,-5.9,NaN,NaN,9.0,1.7,NaN,50,...,7.0,2000,NaN,5.0,-2.4,NaN,-0.8,0.7,2.1,3.2
2,108,서울,2020-01-01 02:00,-5.7,NaN,NaN,9.0,0.1,NaN,0,...,7.0,1988,NaN,5.0,-2.4,NaN,-0.8,0.6,2.0,3.1
3,108,서울,2020-01-01 03:00,-5.6,NaN,0.0,NaN,0.0,NaN,0,...,14.0,2000,NaN,5.0,-2.7,NaN,-0.8,0.6,2.0,3.1
4,108,서울,2020-01-01 04:00,-5.4,NaN,NaN,9.0,0.0,NaN,0,...,6.0,1908,NaN,5.0,-2.5,NaN,-0.8,0.6,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,108,서울,2020-12-31 19:00,-7.1,NaN,NaN,9.0,2.4,NaN,250,...,NaN,2000,NaN,NaN,-4.3,NaN,-0.3,-0.5,0.4,1.7
8780,108,서울,2020-12-31 20:00,-7.1,NaN,NaN,9.0,3.2,NaN,250,...,NaN,2000,NaN,NaN,-5.2,NaN,-0.5,-0.5,0.4,1.6
8781,108,서울,2020-12-31 21:00,-7.2,NaN,NaN,9.0,2.7,NaN,250,...,NaN,2000,NaN,NaN,-5.7,NaN,-0.6,-0.6,0.4,1.6
8782,108,서울,2020-12-31 22:00,-7.4,NaN,NaN,9.0,2.5,NaN,270,...,NaN,2000,NaN,NaN,-6.1,NaN,-0.7,-0.6,0.3,1.6
8783,108,서울,2020-12-31 23:00,-7.6,NaN,NaN,9.0,2.2,NaN,290,...,NaN,2000,NaN,NaN,-6.5,NaN,-0.8,-0.7,0.3,1.6

In [33]:
seoul_kma = kma[['일시', '기온(°C)',	'강수량(mm)', '풍속(m/s)', '습도(%)', '이슬점온도(°C)']]
seoul_kma = seoul_kma.reset_index(drop=True)
seoul_kma

                    일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  이슬점온도(°C)
0     2020-01-01 00:00    -6.5      0.0      0.0     38      -18.5
1     2020-01-01 01:00    -5.9      NaN      1.7     40      -17.3
2     2020-01-01 02:00    -5.7      NaN      0.1     42      -16.5
3     2020-01-01 03:00    -5.6      0.0      0.0     46      -15.4
4     2020-01-01 04:00    -5.4      NaN      0.0     50      -14.2
...                ...     ...      ...      ...    ...        ...
8779  2020-12-31 19:00    -7.1      NaN      2.4     58      -13.9
8780  2020-12-31 20:00    -7.1      NaN      3.2     59      -13.7
8781  2020-12-31 21:00    -7.2      NaN      2.7     61      -13.4
8782  2020-12-31 22:00    -7.4      NaN      2.5     66      -12.6
8783  2020-12-31 23:00    -7.6      NaN      2.2     65      -13.0

[8784 rows x 6 columns]

In [35]:
for i in range(len(seoul_kma.columns)):
    if(seoul_kma[seoul_kma.columns[i]].isnull().values.any()==True):
        print('NaN이 하나라도 포함되어있는 column : ', seoul_kma.columns[i])

NaN이 하나라도 포함되어있는 column :  강수량(mm)

In [37]:
for i in range(len(seoul_kma.columns)):
    for j in range(len(seoul_kma)):
        if seoul_kma[seoul_kma.columns[i]][j] == -999:
            print('-999값이 있는 column : ', seoul_kma.columns[i])
            break

In [39]:
seoul_kma_mean = round(seoul_kma.select_dtypes(include='number').mean(), 3)
seoul_kma_mean

기온(°C)       13.270
강수량(mm)       1.556
풍속(m/s)       2.374
습도(%)        63.259
이슬점온도(°C)     5.725
dtype: float64

In [41]:
remove_kma_columns = []
for i in range(len(seoul_kma_mean)):
    if(np.isnan(seoul_kma_mean.iloc[i])):
        print('모든 값이 NaN인 column : ', seoul_kma.columns[i])
        remove_kma_columns.append(seoul_kma.columns[i])
print(remove_kma_columns)

for i in range(len(remove_kma_columns)):
    print(remove_kma_columns[i], '제거')
    del seoul_kma[remove_kma_columns[i]]

[]

In [43]:
Total_Seoul_kma = seoul_kma.fillna(seoul_kma_mean)
Total_Seoul_kma

                    일시  기온(°C)  강수량(mm)  풍속(m/s)  습도(%)  이슬점온도(°C)
0     2020-01-01 00:00    -6.5    0.000      0.0     38      -18.5
1     2020-01-01 01:00    -5.9    1.556      1.7     40      -17.3
2     2020-01-01 02:00    -5.7    1.556      0.1     42      -16.5
3     2020-01-01 03:00    -5.6    0.000      0.0     46      -15.4
4     2020-01-01 04:00    -5.4    1.556      0.0     50      -14.2
...                ...     ...      ...      ...    ...        ...
8779  2020-12-31 19:00    -7.1    1.556      2.4     58      -13.9
8780  2020-12-31 20:00    -7.1    1.556      3.2     59      -13.7
8781  2020-12-31 21:00    -7.2    1.556      2.7     61      -13.4
8782  2020-12-31 22:00    -7.4    1.556      2.5     66      -12.6
8783  2020-12-31 23:00    -7.6    1.556      2.2     65      -13.0

[8784 rows x 6 columns]

In [45]:
Total_Seoul_kma.columns = ['측정일시','Seoul_Temp(°C)','Seoul_Precipitation(mm)','Seoul_Wind_Speed(m/s)','Seoul_Humidity(%)','Seoul_Dew_Point(°C)']
Total_Seoul_kma

,측정일시,Seoul_Temp(°C),Seoul_Precipitation(mm),Seoul_Wind_Speed(m/s),Seoul_Humidity(%),Seoul_Dew_Point(°C)
0,2020-01-01 00:00,-6.5,0.000,0.0,38,-18.5
1,2020-01-01 01:00,-5.9,1.556,1.7,40,-17.3
2,2020-01-01 02:00,-5.7,1.556,0.1,42,-16.5
3,2020-01-01 03:00,-5.6,0.000,0.0,46,-15.4
4,2020-01-01 04:00,-5.4,1.556,0.0,50,-14.2
...,...,...,...,...,...,...
8779,2020-12-31 19:00,-7.1,1.556,2.4,58,-13.9
8780,2020-12-31 20:00,-7.1,1.556,3.2,59,-13.7
8781,2020-12-31 21:00,-7.2,1.556,2.7,61,-13.4
8782,2020-12-31 22:00,-7.4,1.556,2.5,66,-12.6
8783,2020-12-31 23:00,-7.6,1.556,2.2,65,-13.0

In [47]:
def airkorea_num_to_datetime(date_num):
    date_str = str(date_num)
    if date_str[8:10] != '24':
        return pd.to_datetime(date_str, format='%Y%m%d%H')
    else:
        date_str = date_str[0:8] + '00' + date_str[10:]
        return pd.to_datetime(date_str, format='%Y%m%d%H', errors='raise') + dt.timedelta(days=1)

In [49]:
def KMA_num_to_datetime(date_num):
    date_str = str(date_num)
    date_str = date_str[0:4] + date_str[5:7] + date_str[8:10] + date_str[11:13]
    return pd.to_datetime(date_str, format='%Y%m%d%H')

In [53]:
for i in range(len(Total_Seoul_airkorea['측정일시'])):
    Total_Seoul_airkorea.at[i,'측정일시'] = airkorea_num_to_datetime(Total_Seoul_airkorea['측정일시'][i])
    Total_Seoul_kma.at[i,'측정일시'] = KMA_num_to_datetime(Total_Seoul_kma['측정일시'][i])

C:\Users\dhgus\AppData\Local\Temp\ipykernel_19092\3213707320.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '2020-01-01 01:00:00' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  Total_Seoul_airkorea.at[i,'측정일시'] = airkorea_num_to_datetime(Total_Seoul_airkorea['측정일시'][i])

In [55]:
Total_Seoul_airkorea

                     측정일시    SO2   CO     O3    NO2  PM10
0     2020-01-01 01:00:00  0.002  0.5  0.011  0.024  19.0
1     2020-01-01 02:00:00  0.002  0.6  0.005  0.030  19.0
2     2020-01-01 03:00:00  0.002  0.6  0.002  0.033  27.0
3     2020-01-01 04:00:00  0.002  0.6  0.003  0.031  20.0
4     2020-01-01 05:00:00  0.002  0.7  0.003  0.031  21.0
...                   ...    ...  ...    ...    ...   ...
8779  2020-12-31 20:00:00  0.002  0.4  0.014  0.026  29.0
8780  2020-12-31 21:00:00  0.002  0.4  0.017  0.021  23.0
8781  2020-12-31 22:00:00  0.002  0.4  0.025  0.013  28.0
8782  2020-12-31 23:00:00  0.002  0.3  0.030  0.008  24.0
8783  2021-01-01 00:00:00  0.002  0.3  0.027  0.011  15.0

[8784 rows x 6 columns]

In [57]:
Total_Data_Seoul = pd.merge(Total_Seoul_airkorea, Total_Seoul_kma, on='측정일시', how = 'left')
Total_Data_Seoul

,측정일시,SO2,CO,O3,NO2,PM10,Seoul_Temp(°C),Seoul_Precipitation(mm),Seoul_Wind_Speed(m/s),Seoul_Humidity(%),Seoul_Dew_Point(°C)
0,2020-01-01 01:00:00,0.002,0.5,0.011,0.024,19.0,-5.9,1.556,1.7,40.0,-17.3
1,2020-01-01 02:00:00,0.002,0.6,0.005,0.030,19.0,-5.7,1.556,0.1,42.0,-16.5
2,2020-01-01 03:00:00,0.002,0.6,0.002,0.033,27.0,-5.6,0.000,0.0,46.0,-15.4
3,2020-01-01 04:00:00,0.002,0.6,0.003,0.031,20.0,-5.4,1.556,0.0,50.0,-14.2
4,2020-01-01 05:00:00,0.002,0.7,0.003,0.031,21.0,-5.2,1.556,0.0,55.0,-12.8
...,...,...,...,...,...,...,...,...,...,...,...
8779,2020-12-31 20:00:00,0.002,0.4,0.014,0.026,29.0,-7.1,1.556,3.2,59.0,-13.7
8780,2020-12-31 21:00:00,0.002,0.4,0.017,0.021,23.0,-7.2,1.556,2.7,61.0,-13.4
8781,2020-12-31 22:00:00,0.002,0.4,0.025,0.013,28.0,-7.4,1.556,2.5,66.0,-12.6
8782,2020-12-31 23:00:00,0.002,0.3,0.030,0.008,24.0,-7.6,1.556,2.2,65.0,-13.0
8783,2021-01-01 00:00:00,0.002,0.3,0.027,0.011,15.0,NaN,NaN,NaN,NaN,NaN

In [59]:
Total_Data_Seoul = Total_Data_Seoul.drop(len(Total_Data_Seoul)-1)
Total_Data_Seoul

,측정일시,SO2,CO,O3,NO2,PM10,Seoul_Temp(°C),Seoul_Precipitation(mm),Seoul_Wind_Speed(m/s),Seoul_Humidity(%),Seoul_Dew_Point(°C)
0,2020-01-01 01:00:00,0.002,0.5,0.011,0.024,19.0,-5.9,1.556,1.7,40.0,-17.3
1,2020-01-01 02:00:00,0.002,0.6,0.005,0.030,19.0,-5.7,1.556,0.1,42.0,-16.5
2,2020-01-01 03:00:00,0.002,0.6,0.002,0.033,27.0,-5.6,0.000,0.0,46.0,-15.4
3,2020-01-01 04:00:00,0.002,0.6,0.003,0.031,20.0,-5.4,1.556,0.0,50.0,-14.2
4,2020-01-01 05:00:00,0.002,0.7,0.003,0.031,21.0,-5.2,1.556,0.0,55.0,-12.8
...,...,...,...,...,...,...,...,...,...,...,...
8778,2020-12-31 19:00:00,0.002,0.4,0.016,0.023,26.0,-7.1,1.556,2.4,58.0,-13.9
8779,2020-12-31 20:00:00,0.002,0.4,0.014,0.026,29.0,-7.1,1.556,3.2,59.0,-13.7
8780,2020-12-31 21:00:00,0.002,0.4,0.017,0.021,23.0,-7.2,1.556,2.7,61.0,-13.4
8781,2020-12-31 22:00:00,0.002,0.4,0.025,0.013,28.0,-7.4,1.556,2.5,66.0,-12.6
8782,2020-12-31 23:00:00,0.002,0.3,0.030,0.008,24.0,-7.6,1.556,2.2,65.0,-13.0

In [61]:
Total_Data_Seoul.to_csv('./Total_Data_Seoul.csv', header = True, index = False)

In [69]:
def extract_inputoutput(dataframe, lookback_time=3, predict_time=1):
    dfx = pd.DataFrame()
    dfy = pd.DataFrame()

    for i in range(len(dataframe)-(lookback_time-1)-(predict_time)):
        if i % 1000 == 0:
            print(i)
        rowx = []
        for timestep in range(lookback_time):
            dfRename = dataframe.iloc[[i+timestep]]
            dfRename.index = [i]
            rowx.append(dfRename)
        rowx = pd.concat(rowx, axis=1)
        dfx = pd.concat([dfx, rowx])

        rowy = []
        rowy = pd.DataFrame([dataframe['PM10'][i+lookback_time]])
        dfy = pd.concat([dfy, rowy], ignore_index=True)

    print('X, Y 데이터 분류 완료!')
    return dfx, dfy

In [71]:
X, Y = extract_inputoutput(Total_Data_Seoul)

0
1000
2000
3000
4000
5000
6000
7000
8000
X, Y 데이터 분류 완료!

In [73]:
X

,측정일시,SO2,CO,O3,NO2,PM10,Seoul_Temp(°C),Seoul_Precipitation(mm),Seoul_Wind_Speed(m/s),Seoul_Humidity(%),...,SO2,CO,O3,NO2,PM10,Seoul_Temp(°C),Seoul_Precipitation(mm),Seoul_Wind_Speed(m/s),Seoul_Humidity(%),Seoul_Dew_Point(°C)
0,2020-01-01 01:00:00,0.002,0.5,0.011,0.024,19.0,-5.9,1.556,1.7,40.0,...,0.002,0.6,0.002,0.033,27.0,-5.6,0.000,0.0,46.0,-15.4
1,2020-01-01 02:00:00,0.002,0.6,0.005,0.030,19.0,-5.7,1.556,0.1,42.0,...,0.002,0.6,0.003,0.031,20.0,-5.4,1.556,0.0,50.0,-14.2
2,2020-01-01 03:00:00,0.002,0.6,0.002,0.033,27.0,-5.6,0.000,0.0,46.0,...,0.002,0.7,0.003,0.031,21.0,-5.2,1.556,0.0,55.0,-12.8
3,2020-01-01 04:00:00,0.002,0.6,0.003,0.031,20.0,-5.4,1.556,0.0,50.0,...,0.002,0.7,0.002,0.032,23.0,-4.8,0.000,1.9,58.0,-11.8
4,2020-01-01 05:00:00,0.002,0.7,0.003,0.031,21.0,-5.2,1.556,0.0,55.0,...,0.002,0.7,0.002,0.032,22.0,-4.6,1.556,2.1,62.0,-10.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8775,2020-12-31 16:00:00,0.002,0.3,0.031,0.008,20.0,-5.5,1.556,3.5,47.0,...,0.002,0.3,0.027,0.011,24.0,-6.7,0.000,2.5,54.0,-14.4
8776,2020-12-31 17:00:00,0.002,0.3,0.029,0.010,24.0,-6.1,1.556,1.8,50.0,...,0.002,0.4,0.016,0.023,26.0,-7.1,1.556,2.4,58.0,-13.9
8777,2020-12-31 18:00:00,0.002,0.3,0.027,0.011,24.0,-6.7,0.000,2.5,54.0,...,0.002,0.4,0.014,0.026,29.0,-7.1,1.556,3.2,59.0,-13.7
8778,2020-12-31 19:00:00,0.002,0.4,0.016,0.023,26.0,-7.1,1.556,2.4,58.0,...,0.002,0.4,0.017,0.021,23.0,-7.2,1.556,2.7,61.0,-13.4
8779,2020-12-31 20:00:00,0.002,0.4,0.014,0.026,29.0,-7.1,1.556,3.2,59.0,...,0.002,0.4,0.025,0.013,28.0,-7.4,1.556,2.5,66.0,-12.6

In [75]:
Y

         0
0     20.0
1     21.0
2     23.0
3     22.0
4     21.0
...    ...
8775  26.0
8776  29.0
8777  23.0
8778  28.0
8779  24.0

[8780 rows x 1 columns]

In [77]:
X.to_csv('./Total_Data_Seoul_X.csv', header = True, index = False)

In [79]:
Y.to_csv('./Total_Data_Seoul_Y.csv', header = True, index = False)